@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #f8ba80, #cb92d1, #7dc5ca);

  ul {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: 800px) {
      flex-flow: row wrap;
    }

    li {
      list-style-type: none;
      margin: 1.5rem 0;
      padding: 1rem 2.5rem;

      @media screen and (min-width: 800px) {
        margin: 0 1.5rem;
      }

      a {
        display: block;
        position: relative;
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;

        &:hover {
          color: #ff0;
        }

        /* Create the four corners using before and after elements of the span tags. */

        /* Top left corner border. */
        & > span:first-child::before {
          content: "";
          position: absolute;
          top: 0rem;
          left: 0rem;
          width: 0.8rem;
          height: 0.8rem;
          background-color: transparent;
          border-top: 2px solid #ff0;
          border-left: 2px solid #ff0;
          opacity: 0;
          transition: 0.2s;
        }

        /* Top right corner border. */
        & > span:first-child::after {
          content: "";
          position: absolute;
          top: 0rem;
          right: 0rem;
          width: 0.8rem;
          height: 0.8rem;
          background-color: transparent;
          border-top: 2px solid #ff0;
          border-right: 2px solid #ff0;
          opacity: 0;
          transition: 0.2s;
        }

        /* Bottom left corner border. */
        & > span:last-child::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0.8rem;
          height: 0.8rem;
          background-color: transparent;
          border-bottom: 2px solid #ff0;
          border-left: 2px solid #ff0;
          opacity: 0;
          transition: 0.2s;
        }

        /* Bottom right corner border. */
        & > span:last-child::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0.8rem;
          height: 0.8rem;
          background-color: transparent;
          border-bottom: 2px solid #ff0;
          border-right: 2px solid #ff0;
          opacity: 0;
          transition: 0.2s;
        }

        /* Change the positons of the borders when hovering over the link to
           create the desired effect.
        */

        /* Top brackets */
        &:hover > span:first-child::before {
          top: -1rem;
          left: -1rem;
          opacity: 1;
        }

        &:hover > span:first-child::after {
          top: -1rem;
          right: -1rem;
          opacity: 1;
        }

        /* Bottom brackets */
        &:hover > span:last-child::before {
          bottom: -1rem;
          left: -1rem;
          opacity: 1;
        }

        &:hover > span:last-child::after {
          bottom: -1rem;
          right: -1rem;
          opacity: 1;
        }
      }
    }
  }
}
